<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
    </title>
</head> 
    <body>
        <h1>
            {{gametype}}
        </h1>
        <h2>
            Word: {{word}}
        </h2>
        <form method='POST'>
            <input name="spelling"/>
            <input type="submit"/>
        </form>
        <p>
            {{message}}
        </p>
        <p>
            Score: {{score}}
        </p>
        <p>
            Your Highscore: {{yhighscore}}
        </p>
    </body>
</html>