<!DOCTYPE html>
<head lang="en">
    <title>Spellican</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/main-page.css') }}">
    <!-- Materialize css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="row">
        <nav class="col s12 nav-bar">
            <!-- <div class="mycontainer"> -->
                <div class=" navcontainer">
                    <div class="logo-div">
                        <img src="{{ url_for('static', filename='/pelican-logo.svg') }}" alt="Spellican logo" class="logo">
                        <h1 class="title text">Spellican</h1>
                    </div>
                    <p class="profile">{{ current_user.username }}</p>
                </div>
            <!-- </div> -->
        </nav>
    </div>

    <div class="mycontainer">
        <h3 class="choose-text">Choose a difficulty</h3>
        <div class="row">
            <a href="/easy">
                <div class="col s12 m6 l4">
                    <div class="card-panel hoverable center-align easy">
                        <h1 class="difficulty">Easy</h1>
                        <div class="row">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star_outline</i>
                            <i class="material-icons">star_outline</i>   
                        </div>
                    </div>
                </div>
            </a>

            <a href="/medium">
                <div class="col s12 m6 l4">
                    <div class="card-panel hoverable center-align medium">
                        <h1 class="difficulty">Medium</h1>
                        <div class="row">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star_outline</i>   
                        </div>
                    </div>
                </div>
            </a>

            <a href="/hard">
                <div class="col s12 m6 l4">
                    <div class="card-panel hoverable center-align hard">
                        <h1 class="difficulty">Hard</h1>
                        <div class="row">
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>
                            <i class="material-icons">star</i>   
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="highscore center-align">
            <h3 class="highscore-text">High Score: {{current_user.highscore}}</h3>
        </div>
    </div>
</body>